<div class="row">

    <section id="listaamigos" class="col l4 m4">
        <br>

        <div id="wrapper">
            <div class="" >
                <h5 class="center">Agrega a tus amigos.</h5>

                <div>
                    <input class="input-search-friends" ng-model="search.name" placeholder="Busca a tus amigos">
                </div>
                <div class="scrollbar" id="style-7">
                    <div ng-repeat="user in $ctrl.friends | filter:search" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div draggable="true" ondragstart="drag(event)" id="drag1" class="friend">

                            <div class="friend__card">
                              <div class="friend__photo">
                                <img class="photo" src="{{user.imagen}}" alt="">
                              </div>
                              <div class="friend__info">
                                <h1 class="friend__name">{{user.user.username}}</h1>
                                <span class="friend__email">{{user.user.email}}</span>
                              </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <h3 id="idPeda" class="center">¡Mi peda!</h3>
    <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)" class="z-depth-3 drag-continer col l7 m8 offset-l1" style="padding-top: 40px;">
            <a href="#!/yaevent" class="waves-effect waves-light btn-large purple darken-3 center button-listo-own-styles">¡Listo!</a>
    </div>
</div>

<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>
