
<br><br>
<section id="recuadro">


    <section id="modl"></section>
    <div class="col l3 m3">
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Aquí van los servicios disponibles</h4>
            <p>Lista de Servicios</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
    </div>

</section>