<nav>
    <div class="nav-wrapper">
        <img src="../assets/img/armologo.svg" alt="¡Ya se armó!" id="logonav">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
    </div>
</nav>
<br><br>
<section id="recuadro">


    <section id="modl"></section>
    <div class="col l3 m3">
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
        <a class="btn-floating btn-large waves-effect waves-light indigo darken-2" href="#modal1"><i class="material-icons">add</i></a>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="center">Alcohol</h4>
            <div>
                <input ng-model="search.name">
            </div>
            <div ng-repeat="user in $ctrl.apiData | filter:search">

                <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s10">
                            <span class="black-text">{{user.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Listo</a>
        </div>
    </div>

</section>