<head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>


<!--Hero-->
<div class="section no-pad-bot" id="home-banner" style="background-image: url('/assets/img/confetti.png');">
    <div class="container">
      <br>
      <img class="logomorado" src="assets/img/yasearmologomorado.png" alt="¿Qué se arma hoy?">
        <br>
        <h1 class="text_h center header cd-headline letters type">
          <h2 class="center header text_h2">Con <span class="span_h2">¡YaSeArmó! </span>organiza tus fiestas, reuniones o pedas de la manera <span class="span_h2">más fácil.</span> </h2>
        </h1>
        <br>
        <a href="#!/yapacks" class="waves-effect waves-light btn armaboton">ARMA TU FIESTA</a>
    </div>
</div>

<!--Intro & Servicios-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"><span class="span_h2">¡Arma la fiesta en tu casa!</span><br>Te llevamos desde una cheve hasta una banda de rock<span class="span_h2"></span> </h2>
            </div>
            <br>
            <div  class="col s12 m4 l3">
                <div class="center promo promo-example">
                    <img class="iconos" src="assets/img/eventos.png">
                    <!-- <h5 class="promo-caption">Speeds up development</h5> -->
                    <p class="light center">Crea tu evento, invita a tus amigos, ordena cualquier cosa para tu fiesta y despreocúpate de lo demás.</p>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="center promo promo-example">
                  <img class="iconos" src="assets/img/pedidos.png">
                    <i class="mdi-social-group"></i>
                    <!-- <h5 class="promo-caption">User Experience Focused</h5> -->
                    <p class="light center">Ordena desde un paquete de cigarros hasta 200 meseros.</p>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="center promo promo-example">
                  <img class="iconos" src="assets/img/paquetes.png">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <!-- <h5 class="promo-caption">Fully responsive</h5> -->
                    <p class="light center">Checa los paquetes perfectos para tu fiesta.</p>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="center promo promo-example">
                  <img class="iconos" src="assets/img/armala.png">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <!-- <h5 class="promo-caption">Fully responsive</h5> -->
                    <p class="light center">Arma la mejor fiesta sin preocuparte de nada.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Pide-->
<div class="section scrollspy" id="pide">
    <div class="container">
        <h2 class="header text_b">Pide lo necesario para tu fiesta</h2>
        <div class="row">
            <div class="col s12 m4 l3">
                <div style="background-color: purple;" class="card">
                    <div class="card-image">
                        <img src="assets/img/cheve.jpg">
                    </div>
                    <div class="card-content">
                        <span style="color: white;" class="card-title">Bebidas<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a style="color: gray;" href="#">Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div style="background-color: #22007f;" class="card">
                    <div class="card-image">
                        <img class="activator" src="assets/img/comida.jpg">
                    </div>
                    <div class="card-content">
                        <span style="color: white" class="card-title">Comidas<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a style="color: gray;" href="#">Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div style="background-color: #6affd3;" class="card">
                    <div class="card-image">
                        <img class="activator" src="assets/img/banda.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Sonido/Audio<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a style="color: gray;" href="#">Ver</a></p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div style="background-color: #ffcd69;" class="card">
                    <div class="card-image">
                        <img class="activator" src="assets/img/mix.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title">Misceláneo<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a style="color: gray;" href="#">Ver</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src='/assets/img/confetti.png' style="display: block; transform: translate3d(-50%, 131px, 0px);"></div>
</div>

<!--Descarga-->
<div class="section scrollspy" id="descarga">
    <div class="container">
        <div class="row">
            <div class="col s12 m8">
              <h2>Descarga la App</h2>
              <p class="light left">Baja nuestra App y prueba lo fácil que es organizar una fiesta.</p>
            </div>
            <div class="col s12 m4">
              <img class="descarga" src="assets/img/download.png" alt="Descarga la App">
            </div>
        </div>
    </div>
</div>

<!--SuperEquipo-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header">Nosotros</h2>
        <div class="row">
            <div class="col s12 m4">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/mora.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Mora<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Supreme Commander</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/nelly.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Nelly<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Jedi / Front-end</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/gera.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Gera<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Jedi / Front-end</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/mau.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Mauricio<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Dark Lord / Android</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/diego.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Diego<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Sith / Back-end</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/yair.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Yair<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Padawan / White Belt</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="card-avatar">
                    <div class="">
                        <img class="circle" src="assets/img/dani.jpg">
                    </div>
                    <div class="card-content">
                        <span style="font-size: 24px; font-weight: lighter;" class="card-title activator grey-text text-darken-4 lighter center">Daniel<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Jedi / Front-end</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/">
                                <i style="font-family: FontAwesome;" class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Footer-->
<footer id="contacto">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" action="contact.php" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text">
                            <label for="icon_prefix" class="white-text">Usuario</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text">
                            <label for="icon_email" class="white-text">Email</label>
                        </div>

                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit">Iniciar Sesión
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">yasearmo.com</h5>
                <ul>
                    <li><a class="white-text" href="http://www.yasearmo.com/">Home</a></li>
                    <li><a class="white-text" href="http://www.yasearmo.com/blog">Blog</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="white-text" href="http://www.facebook.com/yasearmo">Facebook</a></li>
                  <li><a class="white-text" href="http://www.twitter.com/yasearmo">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright default_color">
      <div style="color: #b3b3b3; font-weight: lighter; padding: 20px 55px 10px;" class="container">
          All Rights Reserved. © 2017 YaSeArmó®
      </div>
    </div>
</footer>


    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </body>
</html>
