<!DOCTYPE html>
<html lang="es" ng-app="spotify">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify</title>
    <link rel="stylesheet" href="./app/theme/app.css">
</head>
<body>
    <spotify-component></spotify-component>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
<script src="./app/app.module.js"></script>
<script src="./app/factories/spotify.factory.js"></script>
<script src="./app/components/spotifyComponent/spotify.component.js"></script>

</html>