.header__logo{

}

.header__item

.header {

  height: 100vh;

  background-color: $backgroundColor;
  background-image: url('../assets/images/backgrounds/confetti.png');
  background-repeat: repeat-x;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 80%;
    @media screen and (min-width: 32rem){ 32rem 32 * 16 700px
      width: 50%;
    }
  }

  &__item {
    margin: 3em;
  }

  &__description {
    text-align: center;
    width: 80%;
    font-size: 1.25em;
    color: $purpleColor;

    @media screen and (min-width: 32rem){
      width: 60%;
    }
  }

  &__link {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1em;

    @media screen and (min-width: 32rem){
      font-size: 1.2em;
    }
  }

  &__button{
    background-color: $purpleColor;
    border-radius: 50px;
    padding: 1.5rem 1.5rem;

    @media screen and (min-width: 32rem){
      padding: 2rem;
    }
  }
}
