<nav>
    <div class="nav-wrapper">
        <img src="../assets/img/armologo.svg" alt="¡Ya se armó!" id="logonav">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
    </div>
</nav>

<blockquote>
    Agrega a tus amigos.
</blockquote>

<section id="listaamigos">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <img src="images/person01.png" alt="amigo01" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                Alejandro Ibarra
              </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <img src="images/person01.png" alt="amigo02" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                  Fernando Campos
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s4">
                    <img src="images/person01.png" alt="amigo02" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                </div>
                <div class="col s10">
                    <span class="black-text">
                    Elisa Acevedo
                  </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="recuadro">

</section>