body {
  line-height: 1; }

.link, .link--rounded {
  text-decoration: none; }
  .link--rounded {
    padding: 1em 1em;
    border-radius: 25px; }
  .link--hover:hover {
    background-color: rgba(0, 0, 0, 0.4); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.2; }

.header {
  height: 100vh;
  background-color: #F4F4F4;
  background-image: url("../assets/images/backgrounds/confetti.png");
  background-repeat: repeat-x;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__logo {
    width: 80%; }
    @media screen and (min-width: 32rem) {
      .header__logo {
        width: 50%; } }
  .header__item {
    margin: 3em; }
  .header__description {
    text-align: center;
    width: 80%;
    font-size: 1.25em;
    color: #22007f; }
    @media screen and (min-width: 32rem) {
      .header__description {
        width: 60%; } }
  .header__link {
    color: #FFF;
    text-transform: uppercase;
    font-size: 1em; }
    @media screen and (min-width: 32rem) {
      .header__link {
        font-size: 1.2em; } }
  .header__button {
    background-color: #22007f;
    border-radius: 50px;
    padding: 1.5rem 1.5rem; }
    @media screen and (min-width: 32rem) {
      .header__button {
        padding: 2rem; } }
