.header, .hero__item:last-child, .nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header, .hero__item:last-child {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.link, .link--rounded {
  text-decoration: none; }
  .link--rounded {
    padding: 0.5em 1em;
    border-radius: 25px; }
  .link--hover:hover {
    background-color: rgba(0, 0, 0, 0.4); }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6; }

.header {
  height: 100vh;
  background-image: linear-gradient(90deg, #5d006a, #22007f); }
  .header__item:first-child {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .header__item:last-child {
    -webkit-flex: 11 0 auto;
    -ms-flex: 11 0 auto;
    flex: 11 0 auto; }

.hero__title, .hero__link {
  color: #FFF;
  text-align: center; }

.hero__title {
  font-size: 3em;
  margin-bottom: 1em; }

.hero__link {
  font-size: 1.2em;
  background-color: #fff;
  color: #22007f; }

@media screen and (min-width: 32rem) {
  .hero__img {
    height: 25vh;
    min-height: 25vh; } }

.hero__item {
  text-align: center; }
  .hero__item:first-child {
    margin: 4em 0 0 0; }
  .hero__item:last-child {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1em 1em;
    text-transform: capitalize; }

.nav {
  background-color: #FFF;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__link {
    font-size: 1.2em;
    text-decoration: none;
    margin: 1em; }
