<nav>
    <div class="nav-wrapper">
        <a href="#!/yapacks"><img src="../assets/img/armologo.svg" alt="¡Ya se armó!" id="logonav"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home">Mi cuenta</a></li>
            <li><a href="/yaevent">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Eventos</a></li>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Paquetes</a></li>
        </ul>
    </div>
</nav>
