
<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col offset-l3 l6 s12 m6 card">
			<div class="">
				<center>
					<img class="responsive-img" src="/assets/img/yasearmologomorado.png" alt="">
				</center>
				<div id="log">
					<input type="email" id="email" placeholder="Correo">
					<input type="password" id="pass" placeholder="Contraseña">
					<center>
						<a href="#!/yafriends" id="login" onClick="vm.reloader()" class="waves-effect waves-light btn center purple darken-3">Iniciar Sesión</a>
						<br><br>
						<p><strong style="color:#3e0075;"><a href="#">¿Aún no eres miembro? Crea una cuenta</a></strong></p>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>