<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<div style="background-color: #00ff00;">
    <!--Hero-->
    <div class="section no-pad-bot" id="home-banner" style="background-image: url('/assets/img/confetti.png');">
        <div class="container">
            <br>
            <img class="logomorado" src="assets/img/yasearmologomorado.png" alt="¿Qué se arma hoy?">
            <br>
            <h1 class="text_h center header cd-headline letters type">
                <h2 class="center header text_h2">¡Felicidades!<br><br>
                    <span class="span_h2">¡El primer evento de Ya se Armó!<br><br>
                </span>Está listo</h2>
            </h1>
            <br>
            <br>
            <br>

            <h2 class="center header text_h2"><span class="span_h2">Ubicación</span></h2>

            <center>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.8604525232595!2d-99.16869774945006!3d19.331860786877478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0021f48d7f7d%3A0xb2d4bb0bcd9d0742!2sAile+118%2C+35B%2C+Pedregal+de+Santo+Domingo%2C+04369+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1496427599136"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </center>
            <a href="#!/" class="waves-effect waves-light btn armaboton">¡Ya se armó!</a>
        </div>
    </div>
</div>